/* GENERELLE REGLER*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}


/*---------------------HEADER--------------------*/

header {
    background-image: url(../images/prikker.jpg);
    background-repeat: repeat;
    background-size: 30%;
}

/*NAVIGATION - Responsiv med Flexbox*/

#logo {
    width: 100%;
}

#logo img {
    width: 120px;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}


.main-nav {
    display: flex;
    overflow: hidden;
    background-color: #f66d50;
    margin-right: .5em;
}

.main-nav a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 17px;
    line-height: 1.5em;
}

.main-nav a:hover {
    color: #EEE7E0;
}

/*active class sættes på det link i menuen man befinder sig på, så farven ændres på menuen på den aktuelle side*/

.active {
    background-color: #f66d50;
    color: white;
}


/*Denne skjuler burgermenuens checkbox som aktiverer toggle funktionen*/
.hidden {
    display: none;
}

/*------MAIN------*/

h1,
h2 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
}

h3 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
}

p {
    font-size: 17px;
}

.venstre-centreret {
    text-align: left;
}

/*----FORSIDE-----*/
.anmeldelser {
    background-color: #f66d50;
    color: white;
}

.flex-anmeld {
    display: flex;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.flex-anmeld div {
    width: 60%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.flex-container a {
    text-decoration: none;
}

.ce_title {
    font-weight: bold;
}

.flex-anmeld {
    margin-top: 20px;
}


/*-----MENU-----*/

.menu-tabel {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 70%;
    background-color: black;
    color: white;
    font-family: 'Shadows Into Light Two', cursive;
    line-height: 3em;
    font-size: 20px;
    letter-spacing: 2px;
    min-width: 90%;
}

.menu-tabel {
    min-width: 90%;
}

.specialiteter-indhold img {
    width: 100%;
}

.orange-felt {
    background-color: #f66d50;
    color: white;
}

.fast-sortiment-container {
    display: flex;
    flex-direction: row;
    margin: 30px 50px;
}

.fast-sortiment-container div {
    flex-direction: column;
    justify-content: space-between;
}

.sortiment-tabel {
    border-collapse: separate;
    border-spacing: 0 10px;
    text-align: left;

}

#kontakt-form label {
    font-family: 'Shadows Into Light Two', cursive;
}

#kontakt-form input,
#kontakt-form textarea {
    font-family: 'Open Sans', sans-serif;
}


/*-----KURSER OG ARRANGEMENTER-----*/

.aktivitetskalender {
    display: block;
    margin: 0 auto;
    width: 60%;
}

.aktivitet-tekst {
    text-align: center;
}

.pris {
    font-style: italic;
}

.tilmeld-knap {
    background-color: #f66d50;
    color: #FFFFFF;
    width: 120px;
    font-size: 17px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}


.langbordimggrid,
.markimggrid,
.burgerimggrid,
.dellerimggrid {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
}



/*-----OPSKRIFTER-----*/


.gridopskrifter ul li {
    list-style-type: none;
    text-decoration: underline;
    line-height: 40px;
}

.gridopskrifter h2 {
    text-align: start;
}

.gridopskrifter ul a {
    color: #f66d50;
}


.modal_dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_indhold {
    position: absolute;
    border: 1px solid #888;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.close {
    position: absolute;
    right: 15px;
    top: 5px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
}

.knappanel {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.knapper {
    width: 55px;
    height: 25px;
    margin-left: 5px;
}



/*-----OM DITTES VERDEN-----*/

.omditte {
    margin-bottom: 40px;
}

.portraet {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.kontaktmigknap {
    background-color: #f66d50;
    color: #FFFFFF;
    width: 30%;
    font-size: 130%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.omditte a {
    color: #f66d50;
    text-decoration: underline;
}

.omditterow a {
    text-decoration: none;
    color: #f66d50;
}

.omkoncept img {
    width: 40%;
    shape-outside: border-box;
    margin-top: -20px;
    float: right;
}

.dittecitat {
    margin: 30px 120px 0 0;
    font-style: italic;
}

.omkoncept {
    padding-bottom: 160px;
}

.orange-felt-koncept {
    background-color: #f66d50;
    color: white;
    padding-bottom: 1em;
}

.orange-felt a {
    color: white;
}

.orange-felt h1,
.missiontekst h1,
.omkontekst h1 {
    text-align: left;
}

.mission img {
    width: 30%;
    float: left;
    shape-outside: border-box;
    margin: 10px;
    margin-top: 30px;
}

.linserprodukter h4,
.etkilo h4,
.tokilo h4 {
    font-family: 'Shadows Into Light Two', cursive;
    display: block;
    margin: 0 auto;
}

.buyhere {
    padding-bottom: 20px;
}

.buyhere h3 {
    text-align: left;
}

.buyhere ul {
    font-size: 1.2em;
}


/*-----KONTAKT-----*/

#navn,
#e-mail,
#beskrivelse {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#send-knap {
    width: 120px;
    height: 50px;
    font-size: 15px;
    background-color: #f66d50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#send-knap:hover {
    background-color: #f66d50;
}

#kontakt-form {
    border-radius: 5px;
    background-color: rgb(248, 180, 157);
    padding: 20px;
    max-width: 100%;
    margin-bottom: 30px;
}


/*-----------FOOTER------------*/

footer {
    background: #EEE7E0;
    text-align: center;
    padding-top: 10px;
}

footer img {
    padding: 5px;
}

footer h3 {
    font-size: 18px;
}


/*MEDIA QUERY MOBILE*/

@media all and (max-width: 599px) {
    header {
        display: block;
    }

    #burger-menu {
        display: block;
        font-size: 2em;
        cursor: pointer;
        overflow: hidden;
        background-color: #f66d50;
        padding: 0 15px;
    }

    #toggle:checked + .main-nav {
        display: block;
    }

    .main-nav {
        display: none;
        margin: auto;
    }

    .main-nav a {
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 20px
    }

    section {
        margin: 0 25px;
    }

    .orange-felt {
        padding: 0 25px;
        padding-top: 5px;
    }

    /*---FORSIDE---*/
    .intro-video {
        width: 100%;
        height: auto;
    }

    /*------MENU------*/

    .menu-tavle {
        display: block;
        margin: 0 auto;
        background-color: black;
        color: white;
        font-family: 'Shadows Into Light Two', cursive;
        line-height: 3em;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .menu-tabel td {
        padding-left: 20px;
    }

    .specialiteter-indhold {
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .sortiment-billeder img {
        display: none;
    }



    /*---- OM DITTES VERDEN -----*/

    .orange-felt-koncept {
        padding: 0 25px;
    }

    .halvkilo,
    .etkilo,
    .tokilo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .linserprodukter img {
        margin: 10px;
        width: 200px;
    }

    footer h3 {
        font-size: 14px;
    }

}


/*MEDIA QUERY TABLET AND ABOVE*/

@media all and (min-width: 600px) {

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .main-nav {
        justify-content: space-evenly;
        min-width: 50%;
        margin: 0;
    }

    .main-nav a {
        margin: 5px;
        font-size: 17px;
        text-align: center;
    }

    .hidden {
        display: none;
    }


    #burger-menu {
        display: none;
    }

    section {
        margin: 0 70px;
    }

    .orange-felt {
        padding: 5px 70px;
    }

    /*---FORSIDE---*/
    .intro-video {
        width: 100%;
        height: auto;
    }


    /*-----MENU-----*/
    .menu-tavle {
        display: block;
        margin: 0 auto;
        width: 620px;
        height: 580px;
        background-color: black;
        color: white;
        font-family: 'Shadows Into Light Two', cursive;
        line-height: 3em;
        font-size: 20px;
        letter-spacing: 2px;
    }


    .specialiteter-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .specialiteter-indhold {
        width: 25%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .sortiment-billeder img {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-left: 70px;
    }



    /*---Kurser og arrangementer---*/
    .gridkurser {
        display: grid;
        grid-area: 1/1/5/3;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, auto);
        width: 100%;
        height: auto;
        grid-gap: 50px;
    }

    .langbordtekstgrid {
        grid-area: 1/1/2/2;
    }

    .langbordimggrid {
        grid-area: 1/2/2/3;
        width: 90%;
    }

    .marktekstgrid {
        grid-area: 2/2/3/3;
    }

    .markimggrid {
        grid-area: 2/1/3/2;
        width: 90%;
    }

    .burgertekstgrid {
        grid-area: 3/1/4/2;
    }

    .burgerimggrid {
        grid-area: 3/2/4/3;
        width: 90%;
    }

    .dellertekstgrid {
        grid-area: 4/2/5/3;
        width: 100%;
    }

    .dellerimggrid {
        grid-area: 4/1/5/2;
        width: 90%;
    }



    /*-----OPSKRIFTER-----*/

    .gridopskrifter {
        display: grid;
        grid-area: 1/1/4/3;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(4, auto);
        width: 100%;
        height: auto;
        grid-gap: 50px;
    }

    .vrettergrid {
        grid-area: 1/1/2/2;
    }

    .vrettergridimg {
        grid-area: 1/2/2/3;
    }

    .bagvaerkgrid {
        grid-area: 2/2/3/3;
    }

    .bagvaerkgridimg {
        grid-area: 2/1/3/2;
        width: 90%;
    }

    .snacksgrid {
        grid-area: 3/1/4/2;
    }

    .snacksgridimg {
        grid-area: 3/2/4/3;
    }

    .gridopskrifter img {
        width: 90%;
    }



    /*-----OM DITTES VERDEN-----*/


    .kontaktmigknap {
        margin: 15px 90px;
    }

    .omditterow {
        display: flex;
        flex-direction: row;
    }

    .omdittecol {
        flex-direction: column;
        width: 70%;
    }

    .omditterow img {
        width: 30%;
        margin-right: 10%;
    }

    .omkoncept {
        display: flex;
        flex-direction: row;
        padding-bottom: 0;

    }

    /*I stedet for orange-felt-koncept*/
    .omkontekst {
        flex-direction: column;
        width: 70%;
        padding-left: 70px;
    }

    .omkoncept img {
        padding-right: 0;
        width: 40%;
        float: none;
    }

    .mission {
        display: flex;
        flex-direction: row;
    }

    .missiontekst {
        flex-direction: column;
        width: 70%;
    }

    .mission img {
        width: 30%;
        height: 40%;
        float: none;
        margin: auto 0;
    }

    .halvkilo,
    .etkilo,
    .tokilo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 33%;
    }

    .linserprodukter {
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
    }

    .linserprodukter img {
        margin: 10px;
        width: 50%;
    }
}




/*MEDIA QUERY LAPTOP AND ABOVE*/

@media all and (min-width: 1024px) {
    nav {
        flex-direction: row;
    }

    #logo {
        margin-right: auto;
    }

    #burger-menu {
        display: none;
    }

    section {
        margin: 0 200px;
    }

    .orange-felt {
        padding: 5px 200px;
    }

    /*---FORSIDE---*/
    .intro-video {
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }

    /*-----MENU-----*/
    .menu-tavle {
        display: block;
        margin: 0 auto;
        width: 700px;
        height: 500px;
        background-color: black;
        color: white;
        font-family: 'Shadows Into Light Two', cursive;
        line-height: 3em;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .menu-tabel td {
        padding-left: 20px;
    }

    .specialiteter-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sortiment-billeder img {
        width: 46%;
        display: flex;
        flex-direction: column;
        padding-left: 100px;
    }


    /*------OM DITTES VERDEN------*/
    .omkontekst {
        padding-left: 200px;
    }


}
