/* GENERELLE REGLER*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}


/*---------------------HEADER--------------------*/

header {
    background-image: url(../images/prikker.jpg);
    background-repeat: repeat;
    background-size: 30%;
}

/*NAVIGATION - Responsiv med Flexbox*/

#logo {
    width: 100%;
}

#logo img {
    width: 120px;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}


.main-nav {
    display: flex;
    overflow: hidden;
    background-color: #f66d50;
    margin-right: .5em;
}

.main-nav a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 17px;
    line-height: 1.5em;
}

.main-nav a:hover {
    color: #EEE7E0;
}

/*active class sættes på det link i menuen man befinder sig på, så farven ændres på menuen på den aktuelle side*/

.active {
    background-color: #f66d50;
    color: white;
}

/*Denne skjuler burgermenuens checkbox som aktiverer toggle funktionen*/
.hidden {
    display: none;
}

/*------MAIN------*/
h1,
h2 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
}

h3 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
}

p {
    font-size: 17px;
}

.venstre-centreret {
    text-align: left;
}

/*---- Forside -----*/
.intro-video {
    width: 100%;
}

.anmeldelser {
    background-color: #f66d50;
    color: white;
}

.flex-anmeld {
    display: flex;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.flex-anmeld div {
    width: 60%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

/*-----MENU-----*/
.menu-tavle {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 70%;
    background-color: black;
    color: white;
    font-family: 'Shadows Into Light Two', cursive;
    line-height: 3em;
    font-size: 20px;
    letter-spacing: 2px;
}

.menu-tabel {
    min-width: 90%;
}

.specialiteter-indhold img {
    width: 300px;
}

.orange-felt {
    background-color: #f66d50;
    color: white;
}

.fast-sortiment-container {
    display: flex;
    flex-direction: row;
    margin: 30px 50px;
}

.fast-sortiment-container div {
    flex-direction: column;
    justify-content: space-between;
}

.sortiment-tabel {
    border-collapse: separate;
    border-spacing: 0 10px;
    text-align: left;

}


/*-----OM DITTES VERDEN-----*/

a {
    text-decoration: none;
}

.portraet {
    width: 50%;
}

.kontaktmigknap {
    background-color: #f66d50;
    color: #FFFFFF;
    width: 30%;
    font-size: 130%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}


.omkoncept img {
    width: 40%;
    shape-outside: border-box;
    margin-top: -20px;
    float: right;
}

.omkoncept {
    padding-bottom: 160px;
}

.orange-felt-koncept {
    background-color: #f66d50;
    color: white;
    padding-bottom: 1em;
}

.mission img {
    width: 30%;
    float: left;
    shape-outside: border-box;
    margin: 10px;
    margin-top: 30px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 0 auto;
}

.buyhere {
    padding-bottom: 20px;
}

.buyhere ul {
    font-size: 1.2em;
}


/*-----KONTAKT-----*/

#navn,
#e-mail,
#beskrivelse {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#send-knap {
    width: 120px;
    height: 50px;
    font-size: 15px;
    background-color: #f66d50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#send-knap:hover {
    background-color: #f66d50;
}

#kontakt-form {
    border-radius: 5px;
    background-color: rgb(248, 180, 157);
    padding: 20px;
    max-width: 100%;
    margin-bottom: 30px;
}




/*-----------FOOTER------------*/


footer {
    background: #EEE7E0;
    text-align: center;
}


/*MEDIA QUERY MOBILE*/

@media all and (max-width: 599px) {
    header {
        display: block;
    }

    #burger-menu {
        display: block;
        font-size: 2em;
        cursor: pointer;
        overflow: hidden;
        background-color: #f66d50;
        padding: 0 15px;
    }

    #toggle:checked + .main-nav {
        display: block;
    }

    .main-nav {
        display: none;
        margin: auto;
    }

    .main-nav a {
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 20px
    }

    section {
        margin: 0 25px;
    }

    .orange-felt {
        padding: 0 25px;
        padding-top: 5px;
    }

    /*------MENU------*/

    .menu-tavle {
        display: block;
        margin: 0 auto;
        width: 460px;
        height: 650px;
        background-color: black;
        color: white;
        font-family: 'Shadows Into Light Two', cursive;
        line-height: 3em;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .menu-tabel td {
        padding-left: 20px;
    }

    .specialiteter-indhold {
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .sortiment-billeder img {
        display: none;
    }

    /*---- OM DITTES VERDEN -----*/

    .orange-felt-koncept {
        padding: 0 25px;
    }


    .halvkilo,
    .etkilo,
    .tokilo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .linserprodukter img {
        margin: 10px;
        width: 200px;
    }
}


/*MEDIA QUERY TABLET AND ABOVE*/

@media all and (min-width: 600px) {

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .main-nav {
        justify-content: space-evenly;
        min-width: 50%;
        margin: 0;
    }

    .main-nav a {
        margin: 5px;
        font-size: 17px;
        text-align: center;
    }

    .hidden {
        display: none;
    }


    #burger-menu {
        display: none;
    }

    section {
        margin: 0 70px;
    }

    .orange-felt {
        padding: 5px 70px;
    }




    /*-----MENU-----*/
    .menu-tavle {
        display: block;
        margin: 0 auto;
        width: 620px;
        height: 580px;
        background-color: black;
        color: white;
        font-family: 'Shadows Into Light Two', cursive;
        line-height: 3em;
        font-size: 20px;
        letter-spacing: 2px;
    }

    /*
    .menu-tabel td {
        padding-left: 20px;
    }
    */

    .specialiteter-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .specialiteter-indhold {
        width: 400px;
        text-align: center;
    }

    .sortiment-billeder img {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-left: 70px;
    }


    /*-----OM DITTES VERDEN-----*/


    .kontaktmigknap {
        margin: 15px 90px;
    }

    .omditterow {
        display: flex;
        flex-direction: row;
    }

    .omdittecol {
        flex-direction: column;
        width: 70%;
    }

    .omditterow img {
        width: 30%;
        margin-right: 10%;
    }



    .omkoncept {
        display: flex;
        flex-direction: row;
        padding-bottom: 0;

    }

    /*I stedet for orange-felt-koncept*/
    .omkontekst {
        flex-direction: column;
        width: 70%;
        padding-left: 70px;
    }



    .omkoncept img {
        padding-right: 0;
        width: 40%;
        float: none;

    }

    .mission {
        display: flex;
        flex-direction: row;
    }

    .missiontekst {
        flex-direction: column;
        width: 70%;
    }

    .mission img {
        width: 30%;
        height: 40%;
        float: none;
        margin: auto 0;
    }

    .halvkilo,
    .etkilo,
    .tokilo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 33%;
    }

    .linserprodukter {
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
    }

    .linserprodukter img {
        margin: 10px;
        width: 50%;
    }
}

/*MEDIA QUERY LAPTOP AND ABOVE*/

@media all and (min-width: 1024px) {
    nav {
        flex-direction: row;
    }

    #logo {
        margin-right: auto;
    }

    #burger-menu {
        display: none;
    }

    section {
        margin: 0 200px;
    }

    .orange-felt {
        padding: 5px 200px;
    }




    /*-----MENU-----*/
    .menu-tavle {
        display: block;
        margin: 0 auto;
        width: 700px;
        height: 500px;
        background-color: black;
        color: white;
        font-family: 'Shadows Into Light Two', cursive;
        line-height: 3em;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .menu-tabel td {
        padding-left: 20px;
    }

    .specialiteter-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .specialiteter-indhold {
        width: 400px;
        text-align: center;
    }

    .sortiment-billeder img {
        width: 46%;
        display: flex;
        flex-direction: column;
        padding-left: 100px;
    }

    /*------OM DITTES VERDEN------*/
    .omkontekst {
        padding-left: 200px;
    }



    /*------KONTAKT------*/


}
