/*Kalender*/

.light {
    background-color: #fff;
}

.dark {
    margin-left: 65px;
}

.calendar {
    width: 370px;
    box-shadow: 0px 0px 35px -16px rgba(0, 0, 0, 0.75);
    padding: 20px 30px;
    color: #363b41;
    display: inline-block;
}

.calendar_header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.header_copy {
    color: $light_grey;
    font-size: 20px;
}

.calendar_plan {
    margin: 20px 0 40px;
}

.cl_plan {
    width: 100%;
    height: 140px;
    background-image: linear-gradient(-222deg, #f66d50, #f66d50);
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
    padding: 30px;
    color: #fff;
}

.cl_title {}

.cl_copy {
    font-size: 20px;
    margin: 20px 0;
    display: inline-block;
}

.calendar_events {
    color: $light_grey;
}

.ce_title {
    font-size: 14px;
}

.event_item {
    margin: 18px 0;
    padding: 5px;
    cursor: pointer;

    &:hover {
        background-image: linear-gradient(-222deg, #f66d50, #f66d50);
        box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);

        .ei_Dot {
            background-color: #fff;
        }

        .ei_Copy,
        .ei_Title {
            color: #fff;
        }
    }
}

.ei_Dot,
.ei_Title {
    display: inline-block;
}

.ei_Dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: $light_grey;
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}

.dot_active {
    background-color: #f66d50;
}

.ei_Title {
    margin-left: 10px;
    color: #363b41;
}

.ei_Copy {
    font-size: 12px;
    margin-left: 27px;
}

.dark {
    background-image: linear-gradient(-222deg, #646464, #454545);
    color: #fff;

    .header_title,
    .ei_Title,
    .ce_title {
        color: #fff;
    }

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
}




/*MEDIA QUERY MOBILE*/

@media all and (max-width: 599px) {
    .menu-tavle-forside {
        width: 100%;
        background-color: black;
        color: white;
        font-family: 'Shadows Into Light Two', cursive;
        line-height: 3em;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .forsideknapper {
        display: block;
        margin: 0 auto;
        background-color: #f66d50;
        color: #FFFFFF;
        width: 120px;
        font-size: 17px;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
    }
}

/*MEDIA QUERY TABLET AND ABOVE*/

@media all and (min-width: 600px) {
    section {
        margin: 0 80px;
    }

    .menu-tavle-forside {
        width: 500px;
        background-color: black;
        color: white;
        font-family: 'Shadows Into Light Two', cursive;
        line-height: 3em;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .forsideknapper {
        display: block;
        margin: 0 auto;
        background-color: #f66d50;
        color: #FFFFFF;
        width: 200px;
        font-size: 17px;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
    }
}

/*MEDIA QUERY LAPTOP AND ABOVE*/

@media all and (min-width: 1024px) {
    section {
        margin: 0 200px;
    }

    .menu-tavle-forside {
        max-width: 60%;
        background-color: black;
        color: white;
        font-family: 'Shadows Into Light Two', cursive;
        line-height: 3em;
        font-size: 20px;
        letter-spacing: 2px;
    }

    .forsideknapper {
        display: block;
        margin: 0 auto;
        background-color: #f66d50;
        color: #FFFFFF;
        width: 200px;
        font-size: 17px;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
    }
}
