* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.slideshow {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slideshow img {
    width: 30%;
    margin: 0 auto;
    display: block;
}

.slideshow button {
    width: 25%;
    border: none;


}
